.component {
  width: 100%;
  background: #eeeeee;
  border-radius: 12px;
  overflow: hidden;
}

.thumbnail {
  img {
    width: 100%;
  }
}

.body {
  padding: 20px;
  display: grid;
  gap: 8px;
  time {
    font-size: 14px;
    text-align: center;
    color: #000000;
  }
  h2 {
    font-size: 18px;
    text-align: center;
    color: #000000;
  }
  p {
    font-size: 16px;
    text-align: justify;
    color: #000000;
  }
}
