.component {
  width: 100%;
  background: #eeeeee;
  border-radius: 12px;
  overflow: hidden;
}

.thumbnail {
  img {
    width: 100%;
  }
}

.body {
  padding: 20px;
  display: grid;
  gap: 8px;
  time {
    font-size: 14px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    text-align: center;
  }
  p {
    display: -webkit-box;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  button {
    padding: 12px;
    background: #8d8d8d;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: all 250ms ease;
    &:hover {
      background: #6d6d6d;
    }
    &:focus {
      box-shadow: 0px 0px 0px 4px #b8b8b8;
    }
  }
}
