.container {
  width: 100%;
  padding: 20px 40px;
  background: #ffde6b;
}

.limiter {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
}

@media (max-width: 600px) {
  .limiter {
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;
    gap: 16px;
  }
}

.logo {
  display: grid;
  align-content: center;
  svg {
    width: 100%;
    max-width: 320px;
  }
}

.navigation {
  display: grid;
  align-content: center;
  ul {
    display: grid;
    grid-auto-flow: column;
    gap: 32px;
  }
  a {
    color: #000000;
  }
}

.localeSwitcher {
  display: grid;
  align-content: center;
  ul {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    li {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
      transition: box-shadow 400ms ease-out;
      &.active {
        box-shadow: 0 0 0 4px #000000ff;
      }
    }
  }
}
