.container {
  width: 100%;
  padding: 20px 40px;
  background: #ffde6b;
}

.limiter {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 8px;
  p {
    text-align: center;
  }
  a {
    color: #2734b3;
    &:hover {
      text-decoration: underline;
    }
  }
}
