@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --swiper-theme-color: #ffde6b;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, a, b, strong, i, em, mark, small, del, ins, sub, sup {
  word-break: break-word;
}

ol, ul {
  list-style: none;
}

input, textarea, button {
  outline: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
}
